<div class="panel panel-primary">

    <div class="panel-heading">
        Meta
    </div>
    <div class="panel-body">
        <div class="row padding-3">

            <div class="col-xs-0 col-md-1"></div>
            <div class="col-xs-4 col-md-1">
                Meta
            </div>
            <div class="col-xs-8 col-md-9">
                <input id='txtMeta' class="cuentas form-control" value="120,000">
            </div>

        </div>
        <div class="row padding-3">

            <div class="col-xs-0 col-md-1"></div>
            <div class="col-xs-4 col-md-1">
                Recaudado
            </div>
            <div class="col-xs-8 col-md-9">
                <input id='txtRecaudado' class="cuentas form-control">
            </div>

        </div>
        <div class="row padding-3">

            <div class="col-xs-0 col-md-1"></div>
            <div class="col-xs-4 col-md-1">
                Avance
            </div>
            <div class="col-xs-8 col-md-9">
                <input id='txtAvance' class="cuentas form-control">
            </div>

        </div>
    </div>    
</div>

<hr>

<div class="panel panel-primary">

    <div class="panel-heading">
        Numeros de cuenta
    </div>
    <div class="panel-body" id="formCuentas">
        <div class="row padding-3">

            <div class="col-xs-0 col-md-0 col-lg-1"></div>
            <div class="col-xs-3 col-md-2 col-lg-2">
                BCP - Lima
            </div>
            <div class="col-xs-3 col-md-2">
                <button id='btn01' class="btn btn-sm btn-block btn-warning">Copiar</button>
            </div>
            <div class="col-xs-6 col-md-7">
                <input id='txt01' class="cuentas form-control" value="19134377347091">
            </div>

        </div>
        <div class="row padding-3">

            <div class="col-xs-0 col-md-0 col-lg-1"></div>
            <div class="col-xs-3 col-md-2 col-lg-2">
                BCP - Chimbote
            </div>
            <div class="col-xs-3 col-md-2">
                <button id='btn02' class="btn btn-sm btn-block   btn-warning">Copiar</button>
            </div>
            <div class="col-xs-6 col-md-7">
                <input id='txt02' class="cuentas form-control" value="31093235000059">
            </div>

        </div>
        <div class="row padding-3">

            <div class="col-xs-0 col-md-0 col-lg-1"></div>
            <div class="col-xs-3 col-md-2 col-lg-2">
                Interbank
            </div>
            <div class="col-xs-3 col-md-2">
                <button id='btn03' class="btn btn-sm btn-block   btn-warning">Copiar</button>
            </div>
            <div class="col-xs-6 col-md-7">
                <input id='txt03' class="cuentas form-control" value="8213077275249">
            </div>

        </div>
        <div class="row padding-3">

            <div class="col-xs-0 col-md-0 col-lg-1"></div>
            <div class="col-xs-3 col-md-2 col-lg-2">
                Continental
            </div>
            <div class="col-xs-3 col-md-2">
                <button id='btn04' class="btn btn-sm btn-block   btn-warning">Copiar</button>
            </div>
            <div class="col-xs-6 col-md-7">
                <input id='txt04' class="cuentas form-control" value="001100050200132626">
            </div>

        </div>
        <div class="row padding-3">

            <div class="col-xs-0 col-md-0 col-lg-1"></div>
            <div class="col-xs-3 col-md-2 col-lg-2">
                Scotiabank
            </div>
            <div class="col-xs-3 col-md-2">
                <button id='btn05' class="btn btn-sm btn-block   btn-warning">Copiar</button>
            </div>
            <div class="col-xs-6 col-md-7">
                <input id='txt05' class="cuentas form-control" value="6610138536">
            </div>

        </div>
        <div class="row padding-3">

            <div class="col-xs-0 col-md-0 col-lg-1"></div>
            <div class="col-xs-3 col-md-2 col-lg-2">
                Pichincha
            </div>
            <div class="col-xs-3 col-md-2">
                <button id='btn06' class="btn btn-sm btn-block   btn-warning">Copiar</button>
            </div>
            <div class="col-xs-6 col-md-7">
                <input id='txt06' class="cuentas form-control" value="001272251667">
            </div>

        </div>
        <div class="row padding-3">

            <div class="col-xs-0 col-md-0 col-lg-1"></div>
            <div class="col-xs-3 col-md-2 col-lg-2">
                Yape - Plin
            </div>
            <div class="col-xs-3 col-md-2">
                <button id='btn07' class="btn btn-sm btn-block   btn-warning">Copiar</button>
            </div>
            <div class="col-xs-6 col-md-7">
                <input id='txt07' class="cuentas form-control" value="931184483">
            </div>

        </div>
    </div>
    <div class="panel-body" id="formHistoria">

        <div class="row hide">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <img src="/public/images/familia.jpeg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-xs-1"></div>

        </div>
        <hr>
        <div class="row">


            <div class="col-xs-1"></div>
            <div class="col-xs-10 font-size-20">

                <p>
                    ¿Que se puede decir de una chica de 23 años que ha muerto? ¿Que era bella, que le gustaba la música,
                    el
                    baile?
                    Rommy nos destruyó el corazón. Y ahora que no está, nos damos cuenta cuanto realmente la amábamos.
                    En
                    vida
                    nos deleitó con su hermosa voz.
                    Hoy le canta a Dios, como un angel más del cielo.
                </p>

                <p>
                    Hoy más que nunca, mostremos ese gran cariño, pero esta vez con su madre, Cecila Elizabeth Rodríguez
                    Salcedo, ella nos
                    necesita. Requiere de muchas operaciones. Pero hay una que es de vida o muerte.
                    Una complicada operación al cerebro en la ciudad de Lima, y este mundo se mueve con dinero.

                </p>
                <p>
                    Cualquier apoyo será bienvenido. Se puede colaborar de las diversas maneras. Rifas. Aportes desde
                    S/.
                    1.00.
                    La idea es llegar al monto aproximado de 120,000.00 soles.


                </p>
                <p>

                    <b>Atte. Familia Rodriguez Salcedo</b>

                </p>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <div class="row">

            <div class="col-xs-1 col-md-3  padding-3"></div>
            <div class="col-xs-5 col-md-2  padding-3">
                <button id="btnCuentas" class="btn btn-block  btn-primary">Cuentas</button>
            </div>
            <div class="col-xs-5 col-md-2  padding-3">
                <button id="btnHistoria" class="btn btn-block  btn-danger">Historia</button>
            </div>


        </div>
    </div>

</div>