<% const v = '?v=1.202102021831'; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include v_index_partial/_header %>
  </head>

  <body class="ff-tahoma">
    <% include v_index_partial/_nav %>

    <hr />

    <br> 
    <br> 
    <br> 
    
    <section id="divSection" class="container-fluid"></section>

    
    <% include v_index_partial/_script %>

    <br />
    <br />
    <br />

    <% include v_index_partial/_footer %>
  </body>
</html>
