
<hr>

<% include v_tipo_cambio/_formulario %>

<hr>

<div id="divMensaje" class="color-gray">&nbsp;</div>

<hr>

<div id="gridContainer"></div>
<div id="gridContainerOrigen"></div>
<div id="gridContainerDestino"></div>
<% include v_tipo_cambio/_script %>




