<div id="frmRegistro" class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">Registro de Tipo de Cambio</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row padding-3 hide">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">id</div>
            <div class="col-xs-8">
                <input id="txtId" class="form-control">
            </div>
        </div>

        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Moneda</div>
            <div class="col-xs-1">
                <button id="btnTipo" class="btn btn-default btn-block btn-warning">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="col-xs-2">
                <input id="txtMonedaCodigo" class="form-control">
            </div>
            <div class="col-xs-5">
                <input id="txtMonedaDescripcion" class="form-control">
            </div>
        </div>

        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Fecha</div>
            <div class="col-xs-8">
                <input id="txtFecha" class="form-control">
            </div>
        </div>
        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Valor</div>
            <div class="col-xs-8">
                <input id="txtValor" class="form-control">
            </div>           
        </div>

    </div>
    
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <button id="btnGrabar" class="btn btn-block btn-primary">
                    Grabar
                </button>
            </div>
            <div class="col-xs-2">
                <button id="btnEliminar" class="btn btn-block btn-danger hide">
                    Eliminar
                </button>
            </div>
            <div class="col-xs-2">
                <button id="btnLimpiar" class="btn btn-block btn-success hide">
                    Nuevo
                </button>
            </div>
        </div>
    </div>
</div>


<hr>


<div id="frmConvierte" class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">Convertidor de Moneda</div>
        </div>
    </div>
    <div class="panel-body">
       
        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Moneda Origen</div>
            <div class="col-xs-1">
                <button id="btnTipoOrigen" class="btn btn-default btn-block btn-warning">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="col-xs-2">
                <input id="txtMonedaCodigoOrigen" class="form-control">
            </div>
            <div class="col-xs-5">
                <input id="txtMonedaDescripcionOrigen" class="form-control">
            </div>
        </div>
        
        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Valor Origen</div>
            <div class="col-xs-8">
                <input id="txtValorOrigen" class="form-control">
            </div>           
        </div>

        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Moneda Destino</div>
            <div class="col-xs-1">
                <button id="btnTipoDestino" class="btn btn-default btn-block btn-warning">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="col-xs-2">
                <input id="txtMonedaCodigoDestino" class="form-control">
            </div>
            <div class="col-xs-5">
                <input id="txtMonedaDescripcionDestino" class="form-control">
            </div>
        </div>
        

        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Fecha </div>
            <div class="col-xs-8">
                <input id="txtFechaTransaccion" class="form-control">
            </div>
        </div>

        <div class="row padding-3">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Valor Destino</div>
            <div class="col-xs-8">
                <input id="txtValorDestino" class="form-control">
            </div>           
        </div>

    </div>
    
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <button id="btnProcesar" class="btn btn-block btn-primary">
                    Procesar
                </button>
            </div>
            <div class="col-xs-2">
                <button id="btnEliminar" class="btn btn-block btn-danger hide">
                    Eliminar
                </button>
            </div>
            <div class="col-xs-2">
                <button id="btnLimpiar" class="btn btn-block btn-success hide">
                    Nuevo
                </button>
            </div>
        </div>
    </div>
</div>